main header {
  padding-bottom: 24px;
}

.fundo {
  & p {
    background-clip: border-box;
    margin-right: 254px;
    padding: 4px 12px;
    font: var(--text-bold);
    border-radius: 4px;
    background-color: var(--yellow);
  }
}

.publi {
  & p {
    font: var(--text-md2);
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

h1 {
  font: var(--text-eb1);
}

h1:hover {
color: var(--yellow);
}

#text {
  font: var(--text-md1);
  color: var(--gray);
  margin-top: 12px;
  margin-bottom: 24px;
}

footer {
  display: flex;
}

footer p {
  display: flex;
  align-items: center;
  font: var(--text-bold);
  padding-left: 12px;
  padding-right: 5.5px;
}